/* src/styles/globals.css */
@import "./variables.css";
@import "./theme.css";
/* then Tailwind */
@import "tailwindcss";

html, body, #root { height: 100%; }

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}

a { color: var(--color-primary); text-decoration: none; }
a:hover { text-decoration: none; }
